.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "OriginalImage AnalysisResults AnalysisResults"
    "Feedback AnalysisResults AnalysisResults" 
    ". AnalysisResults AnalysisResults"; 
}
.OriginalImage { grid-area: OriginalImage; }
.AnalysisResults {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
  grid-area: AnalysisResults; 
  margin-left: 1%;
  margin-top: 1%;
}

.Feedback { grid-area: Feedback; }

.OriginalImage img { 
  max-width: 100%;
  max-height: 100%; 
}

.AnalysisResults img { 
  max-width: 100%;
  max-height: 100%; 
}
 

.AnalysisResults div { 
  max-width: 40%;
  max-height: 40%;   
}
